
.result-list{
     width: 176px;
     background-color: white;
     display: flex;
     flex-direction: column;
     box-shadow: 0 0 0 1px #e3e0e0;
     border-radius: 6px;
     margin-top: 1rem;
     top: 3.1rem;
     position: absolute;
     z-index: 99;
     /* right:10%; */
     /* max-height: 300px; */
     /* overflow-y: scroll; */
}