.CompParent{
    margin: 5% 10%;
}
.DetailsParent{ 
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
     /* align-items: center; */
}
.imgParent{
    width: 55%;
    /* height: 650px; */
    display: flex;
    /* flex-wrap: wrap; */
    /* border: 2px solid red; */
}
.img{
    height: 650px;
    width: 500px;
    object-fit: cover;
    margin-right: 20px;
}
.subImg{
     height: 170px;
     width: 120px;
     object-fit: cover;
     margin-bottom: 20px;
}

/* Right Side content */
.ContentParent{
     margin-left: 40px;
     /* border: 2px solid red; */
     /* width: 500px; */
}
.brandName{
    font-weight: 700;
}
.productName{
     font-size: 28px;
     font-weight: 700;
}
.currentprice{
    font-weight: 800;
    font-size: 20px;
    margin-right: 10px;
}
.mrpPrice{
   font-size: 20px;
}
.subMrpPrice{
    text-decoration: line-through;
}
.percentOff{
    color: #ff905a;
    font-size: 20px;
}
.inclusiceTexas{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #03a685;
    font-weight: 500;
}
.quantitybutton{
    border: 1px solid rgb(189, 189, 189);
    padding: 3px 25px;
    border-radius: 4px;
}
.AddToCartBtn{
    margin-top: 40px;
    width: 100%;
    background: #e5e5e5;
    font-weight: 600;
    padding: 10px 0;
    color: black;
    text-align: center;
    border-radius: 5px;
}
.AddToCartBtn:hover{
     background-color: black;
     color: white;
}
.butWithbtn{
    margin-top: 20px;
    width: 100%;
    background: black;
    font-weight: 600;
    padding: 10px 0;
    color:white;
    text-align: center;
    border-radius: 5px;
}


/* Media quarry */

@media(max-width:1400px){
    .CompParent{
       margin: 5% 5%;
    }
    .subImg{
       margin-right: 20px; 
    }
    .imgParent{
      width: 75%;
      height: 700px;
      /* display: flex; */
      /* flex-wrap: wrap; */
  }
  .subImg{
      height: 170px;
      width: 120px;
      min-width: 100px;
      min-height: 160px;
      /* object-fit: cover; */
      margin-bottom: 20px;
   }
   .ContentParent{
    width: 520px;
}
}
@media(max-width:1110px){
    .DetailsParent{ 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 50px;
    }
    .ContentParent{
        width: 600px;
    }
}
@media(max-width:820px){
    .DetailsParent{ 
        display: flex;
        flex-wrap: wrap;
        justify-content:start; 
        row-gap: 50px;
        margin-left: 60px;
    }
    .ContentParent{
        width: 500px;
        margin-left: 0px
    }
}
@media(max-width:730px){
    .DetailsParent{
        margin-left: 20px;
    }
    .ContentParent{
        width: 400px;
        margin-left: 0px
    }
}
@media(max-width:620px){
    .DetailsParent{
        margin-left:0px;
    }
    .ContentParent{
        width: 400px;
        margin-left: 0px
    }
}
@media(max-width:580px){
    .imgParent{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* border: 2px solid red; */
    }
    .img{
        height: 500px;
        width: 400px;
        object-fit: cover;
        /* margin-right: 20px; */
    }
    .sumImgContainer{
         display: flex;
    }
    .subImg{
        margin-right: 10px; 
     }
    .DetailsParent{ 
        justify-content:center; 
    }
    .ContentParent{
        width: 300px;
        margin-left: 0px
    }
    .subImg{
        height: 170px;
        width: 120px;
        min-width: 100px;
        min-height: 140px;
     }
}
@media(max-width:400px){
    .CompParent{
       margin: 5% 0%;
    }
    .ContentParent{
        margin-left: 0px;
    }
    .subImg{
        margin-right: 6px; 
     }
}