 .parent{
     color: white;
     background-color: rgb(63, 62, 62);
     margin-top: 50px;
 }
 .Container{
    display: flex;
    flex-wrap: wrap;
    /* height: 300px; */
    justify-content: center;
    
 }
 .sub-container{
     width: 280px;
 }
 .logo{
     margin-left: 40px;
     margin-top: 35px;
     margin-bottom: 30px;
     mix-blend-mode:multiply;
 }
 .aboutCompany{
     margin-top: 25px;
     margin-left: 40px;
 }
 .heading{
     font-size: 17px;
     margin-left: 40px;
     margin-top: 35px;
     margin-bottom: 30px;
     font-weight: 700;
 }
 .catageryItems{
     margin-left: 40px;
     margin-top: -10px;
     cursor: pointer;
 }
 .catageryItems:hover{
      text-decoration: underline;

 }
 .usefullLinkParent{
    margin-bottom: 20px;
 }
 .usefullLinks{
     display: block;
     margin-left: 40px;
     cursor: pointer;
     text-decoration: none;
     color: white;
     margin-bottom: 5px;
 }
 .usefullLinks:hover{
    text-decoration: underline;
 }
 .contactInfo{
    margin-left: 40px;
    margin-top: 10px;
 }

 .followUs{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .followUsheading{
     font-size: 25px;
     margin:10px;
 }
 .followUsLogo{
     display:inline-block;
     text-decoration: none;
     color: white;
     margin: 5px;
 }

 @media (max-width:1150px){
    .sub-container{
        width: 250px;
    }
    .logo{
         margin-left: 20px;
    }
    .aboutCompany{
        margin-left: 20px;
    }
    .heading{
        margin-left: 20px;
    }
    .catageryItems{
        margin-left: 20px;
    } 
    .usefullLinks{
        margin-left: 20px;
    } 
    .contactInfo{
        margin-left: 20px;
    }
 }
 @media (max-width:1030px){
    .sub-container{
        width: 220px;
    }
 }
 @media(max-width:910px){
    .Container{
        display: flex;
        flex-wrap: wrap;
        border: 2px solid yellow;
        justify-content: center;
        column-gap: 25px;
        
     }
 }
 @media(max-width:500px){
    .Container{
        display: flex;
        flex-wrap: wrap;
        border: 2px solid yellow;
        justify-content: center;
        column-gap: 0px;
     }
     .heading{
        font-size: 14px;
     }
     .sub-container{
        width: 190px;
    }
 }
 @media (max-width:400px){
     .heading{
        font-size: 14px;
     }
     .sub-container{
        width: 170px;
    }
 }
 @media(min-width:1250px){
    .sub-container{
        width: 300px;
    }
 }
 @media(min-width:1350px){
    .sub-container{
        width: 330px;
    }
 }
 @media(min-width:1450px){
    .sub-container{
        width: 350px;
    }
 }
 @media(min-width:1550px){
    .sub-container{
        width: 380px;
    }
 }
 @media(min-width:1650px){
    .sub-container{
        width: 410px;
    }
 }
 @media(min-width:1750px){
    .sub-container{
        width: 430px;
    }
 }
