.register-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.register{
     font-size: 48px;
}
.form{
     width: 460px;
     /* border: 2px solid red; */
}
.input-parent{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.input{
    border: 1px solid rgb(211, 209, 209);
    padding: 13px;
    border-radius: 4px;
}
.input:focus{
     border: 2px solid black;
}
.btn{
    background-color: black;
    color: white;
    padding: 13px;
}
.btn:hover{
    background-color: black;
    color: white;
}
.already-customer{
     text-align: center;
     margin-top: 14px;
     color: rgb(91, 90, 90);
}

@media (max-width:600px){
     .register{
        font-size: 41px;
     }
     .form{
         width: 380px;
     }
}

@media (max-width:500px){
    .form{
        width: 330px;
    }
}