.image-container{
    position: relative;
    display: inline-block;
}

.image-button-parent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-button{
   position: absolute;
   bottom: 0px;  
   left: 50%;
   transform: translateX(-50%);
   display: block;
   opacity: 0;
   transition: bottom 0.3s ease;
   background-color:white;
   color: black;
   padding: 15px 14px;
   width: 93%;
   font-size: 14px;
   border-radius: 7px;
}
.image-container:hover .image-button {
 bottom: 10px;  
  opacity: 1;
}