.register-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.form{
     width: 460px;
     /* border: 2px solid red; */
}
.input-parent{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.input{
    border: 1px solid rgb(211, 209, 209);
    padding: 13px;
    border-radius: 4px;
}
.input:focus{
     border: 2px solid black;
}
.btn{
    background-color: black;
    color: white;
    padding: 13px;
}
.btn:hover{
    background-color: black;
    color: white;
}
.already-customer{
     text-align: center;
     margin-top: 14px;
     color: rgb(91, 90, 90);
}
.Parent-forgetResetPassword{
     display: flex;
     justify-content: space-between;
     margin: 0px 4px;
}
.forgetResetPassword{
     cursor: pointer;
     font-size: 14px;
     text-decoration: underline;
     color: black;
     margin-top: 5px;
     margin-bottom: 5px;
}
.forgetResetPassword:hover{
     color: rgb(88, 88, 233);
}

@media (max-width:600px){
     .form{
         width: 380px;
     }
     .forgetResetPassword{
          cursor: pointer;
          font-size: 12px;
          text-decoration: underline;
          color: black;
     }
}

@media (max-width:500px){
    .form{
        width: 330px;
    }
}